<launch>

  <!-- CONNECT VEHICLE 1-->
  <group ns="vehicle1">
    
    <arg name="fcu_url" default="udp://localhost:14550@14551"/>
    <arg name="gcs_url" default="" />
    <arg name="ID" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="fcu_protocol" default="v2.0" />        

  <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="$(arg ID)"/>
      <arg name="tgt_component" value="1"/>
  </include>


  </group>

  <group ns="vehicle2">
    
    <arg name="fcu_url" default="udp://localhost:14560@14561"/>
    <arg name="gcs_url" default="" />
    <arg name="ID" default="2" />
    <arg name="tgt_component" default="2" />
    <arg name="fcu_protocol" default="v2.0" />        

  <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="$(arg ID)"/>
      <arg name="tgt_component" value="1"/>
  </include>

  </group>
  

</launch>
